/* 1155143373 Lam Lok Hin (lamlokhin)
1155143281 Choi Chung Yu (cychoi0)
1155142376 Cheung King Wa (cheungkw0)
1155110159 Cheung Hing Wing (hingwingc)
1155142672 Kwok Chun Yin(EdmondKwok)
1155143825 Lam Cheuk Hin(lamch0) */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
